
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Lista de personas</h2>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-primary" asp-action="Upsert">Agregar persona</a>
    </div>
</div>
<br />

<div class="p-4 border rounded bg-light">
    <table id="tblDatos" class="table table-responsive table-hover">
        <thead class="table-dark">
            <tr>
                <td>Nombre y Apellido</td>
                <td>Tipo Documento</td>
                <td>Fecha Nacimeinto</td>
                <td>Valor Ganar</td>
                <td>Estado Civil</td>
                <td></td>
            </tr>
        </thead>    
    </table>
</div>

@section Scripts{
    <script src="~/js/personas.js"></script>
}