@{
    ViewData["Title"] = "Pagina de Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al formulario.</h1>
    <p>Para interactuar con el formulario de personas, debe hacer clic en el texto Formulario Personas que se encuentra en la parte superior izquierda de la pantalla.</p>
</div>
